.ant-comment-actions > li > span {
  margin: 0 8px !important;
}

.ant-comment-inner {
  padding: 8px 0 0 0 !important;
}

.ant-comment-content-author-name {
  color: black !important;
  font-weight: 600 !important;
  font-size: 13px;
}

.ant-comment-actions {
  margin-top: 4px !important;
}

.ant-comment-actions > li {
  width: 100%;
}

*:focus:not(.focus-visible) {
  outline: none !important;
}