@import "./Root.css";

.background {
  z-index: -1;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  /* background-color: var(--pale-pink); */
}

.background__cluster {
  position: absolute;
  opacity: 0.5;
}

.background__cluster:nth-child(1) {
  top: 500px;
  left: 500px;
}

.background__cluster:nth-child(2) {
  transform: rotate(45deg);
  top: 128px;
  left: 325px;
}

.background__cluster:nth-child(3) {
  transform: rotate(85deg);
  top: 573px;
  right: 425px;
}

.background__cluster:nth-child(4) {
  transform: rotate(23deg);
  top: 173px;
  right: 825px;
}

.background__cluster:nth-child(5) {
  transform: rotate(79deg);
  top: 173px;
  right: 120px;
}

.background__cluster:nth-child(6) {
  transform: rotate(179deg);
  top: 973px;
  right: 139px;
}

.background__cluster:nth-child(7) {
  transform: rotate(90deg);
  top: 123px;
  left: 999px;
}

.triangle {
  position: absolute;
  left: 50px;
  top: 100px;
  background-color: var(--background-icons);
  /* opacity: 0.5; */
  text-align: left;
}
.triangle:before,
.triangle:after {
  content: "";
  position: absolute;
  background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
  width: 25px;
  height: 25px;
  border-top-right-radius: 30%;
}

.triangle {
  transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
}
.triangle:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
}
.triangle:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

.circle {
  position: absolute;
  top: 200px;
  left: 150px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--background-icons);
}

.square {
  position: absolute;
  top: 350px;
  left: 140px;
  width: 50px;
  height: 50px;
  border-radius: 10%;
  background-color: var(--background-icons);
}
