@import "./Root.css";

.change {
  height: calc(100vh - 64px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change__container {
  background-color: var(--white);
  width: 550px;
  height: 30vh;
  display: flex;
  border-radius: 12px;
  border: 1px solid var(--border-accent);
}

.change__container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.change__textInput {
  outline: none;
  border: none;
  background-color: var(--background);
}

.change__btnInput {
  background-color: var(--tea-green);
  font-weight: 800;
  font-size: 18px;
  color: var(--btn-text);
  transition: all 0.25s ease-in-out;
}

.change__btnInput:hover {
  background-color: var(--tea-greenHover);
}

.change__container form input {
  width: 80%;
  height: 64px;
  text-align: center;
  border-radius: 12px;
  margin: 24px 0;
}
