@import "./Root.css";

.dropdown {
  margin-left: 48px;
  width: 188px;
  position: relative;
}

.dropdown button {
  font-weight: 500;
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
}

.dropdown__selection {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px 4px 0 0;
  padding: 4px 8px;
  outline: transparent;
  transition: all 0.2s ease-in-out;
}

.dropdown__selection:hover {
  outline: 1px solid var(--border-accent);
}

.dropdown__menu {
  z-index: 10;
  width: 100%;
  max-height: 180px;
  overflow: auto;
  position: absolute;
  outline: 1px solid var(--border-accent);
  background-color: var(--white);
  transition: height 0.25s ease-in-out;
  border-radius: 0 0 4px 4px;
}

.dropdown__items {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown__items span {
  font-weight: 500;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.dropdown__items:hover span {
  transform: translateX(8px);
}

/* dropdown items hover */

.dropdown__items:hover .fa {
  transform: translateX(-8px);
}

.dropdown__items:hover .dt-5 {
  color: var(--chem);
}

.dropdown__items:hover .dt-6 {
  color: var(--eecs);
}

.dropdown__items:hover .dt-8 {
  color: var(--physics);
}

.dropdown__items:hover .dt-14 {
  color: var(--econ);
}

.dropdown__items:hover .dt-18 {
  color: var(--math);
}

.dropdown__items:hover .dt-social {
  color: var(--cardinal);
}

.dropdown__items:hover .dt-clubs {
  color: var(--cardinal);
}

.dropdown__items:hover .dt-all {
  color: var(--all);
}

/* fa icon hovers */

.fa {
  transition: all 0.2s ease-in-out;
}

.dropdown__items:hover .fa-atom {
  color: var(--chem);
}

.dropdown__items:hover .fa-magnet {
  color: var(--physics);
}

.dropdown__items:hover .fa-bolt {
  color: var(--eecs);
}

.dropdown__items:hover .fa-money-bill-alt {
  color: var(--econ);
}

.dropdown__items:hover .fa-square-root-alt {
  color: var(--math);
}

.dropdown__items:hover .fa-user,
.dropdown__items:hover .fa-dice-three {
  color: var(--cardinal);
}

.dropdown__items:hover .fa-align-justify {
  color: var(--all);
}

/* media queries */
@media only screen and (max-width: 768px) {
  .dropdown {
    margin-left: 24px;
    width: 156px;
  }
}

@media only screen and (max-width: 568px) {
  .dropdown {
    margin-left: 12px;
    width: 112px;
  }
  .dropdown__items:hover .fa {
    transform: none;
  }
  .dropdown__items:hover span {
    transform: none;
  }
}
