@import "./Root.css";

.profile {
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__container {
  background-color: var(--white);
  border: 1px solid var(--border-accent);
  border-radius: 12px;
  width: var(--medium-container-width);
  height: var(--large-container-height);
  padding: 12px;
  display: flex;
}

.profile__info {
  width: 188px;
  height: 100%;
  margin-right: 12px;
  font-weight: 600;
}

.profile__info span {
  margin-right: 4px;
}

.profile__infoSub {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
}

.profile__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
}

.profile__mainBio,
.profile__mainPosts {
  width: 100%;
}

.profile__mainBio {
  max-height: 50%;
  overflow: auto;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--border-accent);
}

.profile__main span {
  font-size: 16px;
  margin-right: 4px;
  font-weight: 600;
}

.profile__mainPosts {
  overflow: auto;
  flex: 1;
  padding: 8px 8px 0 0;
}

.profile__mainPosts .singleQuestion {
  margin: 12px 0;
}

@media screen and (max-width: 768px) {
  .profile__container {
    flex-direction: column;
    overflow: auto;
  }
  .profile__info {
    width: auto;
  }
}
