@import "./Root.css";

.questions {
  min-height: calc(100vh - 64px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions .home {
  height: auto;
}

.questions .home__search {
  width: 100%;
}

.questions .home__searchContainer {
  width: 100%;
}

.questions .home__searchCollection {
  position: static;
  width: 100%;
}

.questions__main {
  position: relative;
  overflow: auto;
  width: var(--large-container-width);
  height: var(--large-container-height);
  border-radius: 12px;
  padding: 12px 80px;
  animation-duration: 2s;
}

.questions__results {
  padding: 4px 4px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loader {
  padding: 25px;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
}

.loader .line {
  display: flex;
  width: 8px;
  position: absolute;
  border-radius: 5px;
  bottom: 0;
}

.loader .line1 {
  left: 0;
  -webkit-animation: line-grow 0.5s ease alternate infinite;
  animation: line-grow 0.5s ease alternate infinite;
}

.loader .line2 {
  left: 20px;
  -webkit-animation: line-grow 0.5s 0.2s ease alternate infinite;
  animation: line-grow 0.5s 0.2s ease alternate infinite;
}

.loader .line3 {
  left: 40px;
  -webkit-animation: line-grow 0.5s 0.4s ease alternate infinite;
  animation: line-grow 0.5s 0.4s ease alternate infinite;
}

.loader_general .line {
  background: -webkit-gradient(linear, left top, left bottom, from(#5f5f5f), to(black));
  background: -webkit-linear-gradient(top, #5f5f5f, black);
  background: -o-linear-gradient(top, #5f5f5f, black);
  background: linear-gradient(to bottom, #5f5f5f, black);
}

@-webkit-keyframes line-grow {
  0% {
    height: 0;
  }
  100% {
    height: 60%;
  }
}

@keyframes line-grow {
  0% {
    height: 0;
  }
  100% {
    height: 60%;
  }
}

.loader_text {
  width: 8px;
  display: flex;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .questions__main {
    padding: 12px 56px;
    width: 650px;
  }
}

@media only screen and (max-width: 568px) {
  .questions__main {
    padding: 12px 12px;
    width: 350px;
  }
}

/*  (1)
Loader Code Adapted from:
https://codepen.io/slyka85/pen/QvBQPb
 */

 