@import "./Root.css";

.questions {
  min-height: calc(100vh - 64px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions .home {
  height: auto;
}

.questions .home__search {
  width: 100%;
}

.questions .home__searchContainer {
  width: 100%;
}

.questions .home__searchCollection {
  position: static;
  width: 100%;
}

.questions__main {
  overflow: auto;
  width: 800px;
  height: 80vh;
  border-radius: 12px;
  padding: 0 24px;
}

.questions__results {
  padding: 4px 0 0 8px;
}
