@import "./Root.css";

.replyComment {
  margin: 8px 0;
}

.replyComment span {
  cursor: pointer;
  font-size: 12px;
  margin: 0;
  color: "gray";
}

.replyComment span:hover {
  color: black !important;
}
