@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --water: #caf4f4;
  --ivory: #fcffe9;
  --blanched-almond: #fff2cc;
  --pale-pink: #fde0d9;
  --pale-pinkHover: #f0c8bf;
  --tea-green: #caefd1;
  --tea-greenHover: #a6dfb0;
  --white: #ffffff;
  --background: #fafafa;
  --border-accent: #dbdbdb;
  --heading-text: #333333;
  --small-text: #2f2f2f;
  --background-icons: #ededed;
  --forgot-password: #00c0ea;
  --create-account: #36bd4f;
  --btn-text: #5f5f5f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* text-decoration: none; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
dl {
  margin-bottom: 0 !important;
}

button.ql-script {
  color: black !important;
}

b,
strong {
  font-weight: 600 !important;
}

img {
  object-fit: contain;
  width: 100%;
}

.btn {
  cursor: pointer;
  height: 40px;
  width: 96px;
  border-radius: 12px;
  border: none;
  outline: none;
}

.quill {
  height: 90%;
}

.ql-toolbar.ql-snow {
  border: none !important;
  border-bottom: 1px solid var(--border-accent) !important;
  padding: 12px 4px !important;
}

.ql-container.ql-snow {
  border: none !important;
}

.ql-syntax {
  padding: 0 8px;
  border: 1px solid #c6c9cc;
  border-radius: 4px;
  background-color: #f6f6f6;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-snow .ql-tooltip input[type="text"] {
  outline: none !important;
}

.ql-editor {
  font-size: 14px !important;
}

.ant-comment-actions > li > span {
  margin: 0 8px !important;
}

.ant-comment-inner {
  padding: 8px 0 0 0 !important;
}

.ant-comment-content-author-name {
  color: black !important;
  font-weight: 600 !important;
  font-size: 13px;
}

*:focus:not(.focus-visible) {
  outline: none !important;
}
