@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./QuillModified.css";
@import "./AntdModified.css";

:root {
  --water: #caf4f4;
  --pale-pink: #fde0d9;
  --pale-pinkHover: #f0c8bf;
  --tea-green: #caefd1;
  --tea-greenHover: #a6dfb0;
  --white: #ffffff;
  --background: #fafafa;
  --border-accent: #dbdbdb;
  --heading-text: #333333;
  --small-text: #2f2f2f;
  --background-icons: #ededed;
  --forgot-password: #00c0ea;
  --create-account: #36bd4f;
  --btn-text: #5f5f5f;
  --calm-orange: #f85959;
  --physics: #f85959;
  --eecs: #ffa812;
  --math: #45b3e0;
  --chem: #8a2be2;
  --econ: #2dd187;
  --large-container-width: 900px;
  --medium-container-width: 750px;
  --small-container-width: 700px;
  --large-container-height: 80vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* text-decoration: none; */
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
dl {
  margin-bottom: 0 !important;
}

button.ql-script {
  color: black !important;
}

b,
strong {
  font-weight: 600 !important;
}

img {
  object-fit: contain;
  width: 100%;
}

a {
  color: inherit !important;
}

a:hover {
  color: inherit !important;
}

/* btn styles */
.btn {
  cursor: pointer;
  padding: 8px 24px;
  border-radius: 8px;
  border: none;
  outline: none;
  color: var(--btn-text) !important;
}

.btn-hoverUp {
  background-color: var(--tea-green);
  transition: all 0.25s ease-in-out;
}

.btn-hoverUp:focus,
.btn-hoverUp:hover {
  box-shadow: 0 10px 10px -10px var(--tea-greenHover);
  transform: translateY(-3px);
}

.btn-hoverDarkGreen {
  background-color: var(--tea-green);
  transition: all 0.25s ease-in-out;
}

.btn-hoverDarkGreen:hover {
  background-color: var(--tea-greenHover);
}

.btn-userActions {
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid var(--border-accent);
  transition: 0.5s;
}

.btn-slide-delete:hover,
.btn-slide-delete:focus {
  box-shadow: inset 6.5em 0 0 0 var(--pale-pink);
}

.btn-slide-edit:hover,
.btn-slide-edit:focus {
  box-shadow: inset 6.5em 0 0 0 var(--tea-green);
}

.btn-slide-edit {
  margin-left: 8px;
}
/* btn styles end */

.timeAgo {
  font-size: 12px;
}

.page_title {
  font-weight: 500;
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  animation-duration: 1.5s;
}

/* media queries */
@media only screen and (max-width: 768px) {
  :root {
    --large-container-width: 700px;
    --medium-container-width: 600px;
    --small-container-width: 500px;
  }
  .page_title {
    font-size: 22px;
  }
}

@media only screen and (max-width: 680px) {
  :root {
    --medium-container-width: 500px;
  }
}

@media only screen and (max-width: 568px) {
  :root {
    --large-container-width: 450px;
    --medium-container-width: 325px;
    --small-container-width: 325px;
  }
}
