@import "./Root.css";

.singleQuestion {
  overflow: hidden;
  margin: 24px 0;
  padding: 12px 12px;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--border-accent);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.singleQuestion {
  transition: box-shadow 0.6s linear;
}
.eecs.singleQuestion:hover {
  box-shadow: 0px 0px 0px 1px var(--eecs);
}
.chemistry.singleQuestion:hover {
  box-shadow: 0px 0px 0px 1px var(--chem);
}
.clubs.singleQuestion:hover {
  box-shadow: 0px 0px 0px 1px var(--cardinal);
}
.social.singleQuestion:hover {
  box-shadow: 0px 0px 0px 1px var(--cardinal);
}
.econ.singleQuestion:hover {
  box-shadow: 0px 0px 0px 1px var(--econ);
}
.math.singleQuestion:hover {
  box-shadow: 0px 0px 0px 1px var(--math);
}
.physics.singleQuestion:hover {
  box-shadow: 0px 0px 0px 1px var(--physics);
}
.all.singleQuestion:hover {
  box-shadow: 0px 0px 0px 1px var(--border-accent);
}

.singleQuestion__container > span {
  font-weight: 600;
  margin-right: 8px;
}

.singleQuestion__container {
  width: 100%;
  color: var(--heading-text);
}

a .singleQuestion__container:nth-child(1) {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--border-accent);
  display: flex;
}

a .singleQuestion__container:nth-child(1) a {
  color: inherit !important;
  font-weight: 600;
}

.singleQuestion__container:nth-child(1) h5 {
  font-size: 14px;
  font-weight: 400;
}

a .singleQuestion__container:nth-child(2) {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-accent);
  padding: 8px 0;
  color: var(--small-text);
}

.singleQuestion__tag {
  margin-right: 4px;
}

.singleQuestion__container:nth-child(3) {
  max-height: 275px;
  overflow: auto;
  padding-top: 8px;
  margin-bottom: 8px;
}

.singleQuestion > .singleQuestion__container:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.singlePost__profileIcon {
  cursor: pointer;
}
