@import "./Root.css";

.singleQuestion {
  /* max-height: 275px; */
  overflow: hidden;
  margin: 24px 0;
  padding: 12px 12px;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--border-accent);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.singleQuestion__container {
  width: 100%;
}

a .singleQuestion__container:nth-child(1) {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--border-accent);
}

.singleQuestion__container:nth-child(1) h5 {
  color: var(--heading-text);
  font-size: 16px;
  font-weight: 600;
}

a .singleQuestion__container:nth-child(2) {
  border-bottom: 1px solid var(--border-accent);
  padding: 8px 0;
  color: var(--small-text);
}

.singleQuestion__container:nth-child(2) span {
  font-weight: 600;
}

.singleQuestion__container:nth-child(3) {
  max-height: 275px;
  overflow: hidden;
  padding-top: 8px;
  margin-bottom: 8px;
}

.singleQuestion__container:nth-child(3) p {
  text-overflow: ellipsis;
  color: var(--small-text);
}

.singleQuestion__container:nth-child(3) p span {
  font-weight: 600;
}
