@import "./Root.css";

.singleComment .timeAgo {
  margin-top: 8px;
}

.singleComment .btn-userActions {
  margin-top: 8px;
}

.singleComment__form {
  display: flex;
  align-items: center;
}

.singleComment__form input {
  flex: 1;
  padding: 8px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--border-accent);
}

.singleComment__form button {
  margin-left: 8px;
  background-color: var(--tea-green);
}

.singleComment__infoContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.singleComment__reply {
  margin-left: 4px;
  cursor: pointer;
}

.singleComment__infoContainer .timeAgo {
  margin-top: 0;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 568px) {
  .singleComment .btn-userActions {
    padding: 4px;
    font-size: 12px;
    margin-top: 4px;
  }
  .singleComment__reply {
    margin: 0;
  }
  .singleComment__infoContainer {
    flex-direction: column;
    align-items: flex-start;
  }
  .singleComment__form .btn {
    padding: 8px;
    font-size: 12px;
  }
  .singleComment__form input {
    padding: 4px 0;
    font-size: 12px;
  }
}
