@import "./Root.css";

.singleQuestion {
  overflow: hidden;
  margin: 24px 0;
  padding: 12px 12px;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--border-accent);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.singleQuestion__container > span {
  font-weight: 600;
  margin-right: 4px;
}

.singleQuestion__container {
  width: 100%;
  color: var(--heading-text);
}

a .singleQuestion__container:nth-child(1) {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--border-accent);
  display: flex;
}

.singleQuestion__container:nth-child(1) h5 {
  font-size: 14px;
  font-weight: 400;
}

a .singleQuestion__container:nth-child(2) {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-accent);
  padding: 8px 0;
  color: var(--small-text);
}

.singleQuestion__tag {
  margin-right: 4px;
}

.singleQuestion__container:nth-child(3) {
  max-height: 275px;
  overflow: auto;
  padding-top: 8px;
  margin-bottom: 8px;
}

.singleQuestion__container:nth-child(3) {
  text-overflow: ellipsis;
  color: var(--small-text);
}

.singleQuestion > .singleQuestion__container:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
