@import "./Root.css";

.singlePost {
  height: auto;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.singlePost__container {
  width: 900px;
  margin: 24px 0;
}

.singlePost__container:nth-child(1) {
  background-color: var(--white);
  border: 1px solid var(--border-accent);
  padding: 12px 12px;
  border-radius: 12px;
  display: flex;
  max-height: 80vh;
  overflow: auto;
}

.singlePost__profile {
  padding: 8px 0;
  min-width: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 12px;
}

.singlePost__profileContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 12px;
}

.singlePost__main {
  flex: 1;
}

.singlePost__sub {
  font-size: 14px;
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid var(--border-accent);
}

.singlePost__userActions {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.singlePost__sub h5 {
  font-weight: normal;
  font-size: 14px;
}

.singlePost__sub span {
  font-weight: 600;
}

.singlePost__tag {
  margin-right: 4px;
}

.singlePost__sub:nth-child(2) {
  display: flex;
  align-items: center;
}

.singlePost__sub:last-child {
  border-bottom: none !important;
}

.reactHtmlParser__container {
  margin-top: 12px;
}
