@import "./Root.css";

.tags-input {
  padding: 8px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--white);
  height: auto;
  width: 100%;
}

.tags-input input {
  flex: 1;
  border: none;
  height: 100%;
  font-size: 14px;
}

.tags-input input:focus {
  outline: transparent;
}

#tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}

.tag {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--heading-text);
  padding: 6px 8px;
  font-size: 12px;
  font-weight: 500;
  list-style: none;
  border-radius: 4px;
  margin-right: 12px;
}

.tag .tag-close-icon {
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 14px;
  margin-left: 8px;
  color: var(--water);
  border-radius: 50%;
  background: var(--small-text);
  cursor: pointer;
}

/* tooltips */
.tooltip {
  display: flex;
  align-items: center;
  position: relative;
}

.tooltip .tooltiptext {
  font-size: 14px;
  visibility: hidden;
  width: 160px;
  background-color: rgb(150, 150, 150);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 4px;
  position: absolute;
  z-index: 1;
  top: 10%;
  right: 110%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 2%;
  right: -5%;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(150, 150, 150) transparent transparent transparent;
  transform: rotate(-90deg);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.icon-info {
  cursor: pointer;
  opacity: 0.5;
}
